<div class="rounds">
  <h2>Rodadas</h2>

  <ng-container *ngIf="rounds.length > 0; else emptyList">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
        *ngFor="let round of rounds; last as last"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Rodada {{ round.id }}</span>
          </mat-panel-title>
          <mat-icon *ngIf="last" (click)="editRound(round.id)" style="padding-right: 20px;">edit</mat-icon>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngFor="let game of round.games" class="rounds__games">
          <div
            class="rounds__games__player"
            [class.rounds__games__winner]="game.playerScore === 2"
          >
            {{ game.player.name }}
          </div>
          <div
            class="rounds__games__score"
            [class.rounds__games__winner]="game.playerScore === 2"
          >
            {{ game.playerScore }}
          </div>
          <div class="rounds__games__x">x</div>
          <div
            class="rounds__games__score"
            [class.rounds__games__winner]="game.opponentScore === 2"
          >
            {{ game.opponentScore }}
          </div>
          <div
            class="rounds__games__player"
            [class.rounds__games__winner]="game.opponentScore === 2"
          >
            {{ game.opponent.name }}
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <ng-template #emptyList
    ><p class="rounds__no-rounds">Não há rodadas cadastradas</p></ng-template
  >

  <div class="rounds__add">
    <button mat-fab extended (click)="addRound()">
      <mat-icon>add</mat-icon>
      Adicionar Rodada
    </button>
  </div>

  <div class="rounds__footer">
    <button mat-flat-button (click)="goToRanking()">Ranking</button>
  </div>
</div>
