.ranking {
  table {
    width: 100%;
    table-layout: fixed;
  }

  h2 {
    text-align: center;
  }

  &__footer {
    position: fixed;
    bottom: 5px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: -10px;

    button {
      flex: 1;
      margin: 0 5px;
    }
  }
}
