.new-round {
  h2 {
    text-align: center;
  }

  &__game {
    display: flex;
    align-items: center;

    h3 {
      margin-right: 5px;
    }
  }

  &__players{
    display: flex;
    align-items: center;
  }

  &__score-input {
    font-size: large;
    text-align: center;
    margin: 0 5px;
  }

  &__player-name {
    width: 60px;
  }

  &__first-player-name {
    text-align: end;
  }

  &__footer {
    position: fixed;
    bottom: 5px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-left: -10px;

    button {
      width: 90%;
    }
  }
}
